<div class="sign_button sign_up_button">
<%= link_to 'サインイン', new_user_path, remote: true, class: "btn btn-lg, btn-primary" %>

</div>
<div class="sign_button sign_in_button">
<%= link_to 'ログイン', new_session_path, remote: true, class: "btn btn-lg, btn-primary" %>
</div>

<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="session-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>