<html>
<body>
<div class='hero'> 
  <div class='cube'></div>
  <div class='cube'></div>
  <div class='cube'></div>
  <div class='cube'></div>
  <div class='cube'></div>
  <div class='hero__title'>ACT IN</div>
<div class="hero__content">
<%= link_to 'サインイン', new_user_path, remote: true, class: "btn-circle-fishy" %>
<%= link_to 'ログイン', new_session_path, remote: true, class: "btn-circle-fishy" %>
</div>

<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="session-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
</div>
</body>
</html>